.txt-hi h2{
    padding: .3em;
    text-align: center;
    font-size: 1.2em;
}

.ul-game li{
    padding: .3em;
    background-color: rgba(0, 0, 0, 0.438);
    margin-bottom: .2em;
    margin-top: .2em;
}