.list-heroes {
    margin: 0 auto;
    /* si se agregara nuevamente la barra al costado para el detalle del heroe, el porcentaje que ocupaba era 70-30 */
    height: auto;
}

.list-heroes ul {
    display: grid;
/*     grid-template-columns: repeat(6,
            minmax(80px, 1fr)); */
    height: auto;
}

.list-heroes ul li:hover{
    scale: 1.1;
    background:black;
    transition: 0.2s;
    color: #ffffff;
    box-shadow: 0 0 55px rgba(232, 249, 0, 0.685);
}

.list-heroes li {
    list-style: none;

}




.str-view {
    /* background: linear-gradient(to right, rgba(255, 39, 1, 0.396), rgba(68, 28, 3, 0.603)); */
}

.agi-view {
    /* background: linear-gradient(to right, rgba(129, 202, 2, 0.783), rgba(96, 150, 35, 0.397)); */
}

.int-view {
    /* background: linear-gradient(to right, rgba(6, 48, 74, 0.693), rgba(56, 179, 175, 0.527)); */
}

.uni-view {
    /* background: linear-gradient(to right, rgba(68, 6, 74, 0.693), rgba(156, 2, 66, 0.575)); */

}