
.HeroCard {
    transition: 0.2s;
    background-color: rgba(79, 43, 240, 0.144);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 25px rgba(5, 25, 154, 0.298);
    color: rgb(19, 17, 19);
}


.HeroCard img{
    width: 100%;
}

#NameCard{
}

.HeroCard h1 {
    font-size: 1em;  
    
}

